html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#player-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.shaka-video-container {
    height: 100%;
    width: 100%;
}

video {
    height: 100%;
    width: 100%;
}

/* Watermark styling */
.watermark {
    position: absolute;
    top: 2px; /* Adjusted to move closer to the top */
    left: 10px;
    width: 100px; /* Adjust the width as needed */
    opacity: 0.7; /* Slight transparency */
    z-index: 10;
    cursor: pointer;
}
