/* Overflow menu style */
.shaka-overflow-menu {
    background-color: rgb(41, 41, 163);
    color: rgb(153, 153, 153);
}

.shaka-overflow-menu button:hover {
    background-color: rgb(45, 45, 45);
}

.shaka-overflow-button-label {
    color: rgb(245, 245, 245);
}

.shaka-current-selection-span {
    color: rgb(202, 202, 202);
}

.material-icons-round {
    color: rgb(230, 230, 230);
}

/* Overflow sub menu style */
.shaka-settings-menu {
    background-color: rgb(35, 35, 35);
    color: rgb(255, 255, 255);
}

.shaka-settings-menu button {
    color: rgb(255, 255, 255);
}

.shaka-settings-menu button:hover {
    background-color: rgb(45, 45, 45);
}

/* Watermark styling */
.watermark {
    position: absolute;
    top: 2px; /* Adjusted to move closer to the top */
    left: 10px;
    width: 100px;
    opacity: 0.7;
    z-index: 999;
}
